header {
    @apply h-16 bg-green-500 shadow;
}

.nav {
    @apply px-2 h-full flex items-center justify-start gap-3 max-w-screen-xl container mx-auto;

    .nav-brand {
        @apply px-6 text-2xl;
    }

    .nav-item {
        @apply w-24 px-3 py-2 cursor-pointer hover:bg-green-800 text-center rounded hidden md:block transition-colors;
    }
}
