.services {
  @apply flex flex-col sm:flex-row gap-4 sm:gap-8;
}

.service {
  @apply grid grid-cols-3 gap-3;
  @apply px-5 py-3 md:px-10 md:py-8 rounded shadow;
  @apply bg-gradient-to-br from-gray-800 to-gray-900;

  &-header {
    @apply col-span-2 flex flex-col;
    @apply font-light;

    .title {
      @apply pb-3;
      @apply text-3xl text-green-500 lg:text-5xl uppercase;
    }

    .subtitle {
      @apply text-base text-gray-300 lg:text-2xl;
    }
  }

  &-icon {
    @apply col-span-1;
    @apply flex justify-center items-center;
    @apply p-3;
  }
}
