@import './_tailwind.css';
@import 'header';
@import 'services';
@import 'social';
@import 'footer';

body {
  @apply bg-gray-700 text-white;
}

header,
main {
  @apply container mx-auto max-w-screen-lg;
  @apply px-4 sm:px-4 md:px-8;
}

header {
}

main {
  @apply flex flex-col gap-4 sm:gap-8;

  hr {
    @apply border border-gray-500;
  }
}
