@import "./_tailwind.css";
@import "header";
@import "services";
@import "social";

html, body {
    @apply h-full;
}

body {
    @apply container mx-auto max-w-screen-lg flex flex-col gap-4 sm:gap-8;
    @apply bg-gray-700 text-white p-4 sm:p-4 md:p-8;
}

.separator {
    @apply border border-gray-500;
}
